fastapi>=0.115.0
uvicorn>=0.30.1
pydantic>=2.7.0
pydantic-settings>=2.4.0
sqlalchemy>=2.0.0
aiomysql
pyjwt>=2.9.0
passlib[argon2]
argon2-cffi
scikit-learn>=1.5.0
joblib>=1.4.2
spacy>=3.7.4
python-multipart
aiosqlite
